{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Hisob' %}
{% endblock %}

{% block content %}
<style>
    body{
	background-color: #eee;
}
.card{
	background-color: #fff;
	width: 380px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}
.top-container{
	display: flex;
	align-items: center;
}
.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
}
.name{
	font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}
.mail{
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}
.middle-container{
	background-color: #eee;
	border-radius: 12px;

}
.middle-container:hover {
	border: 1px solid #5957f9;
}
.dollar-div{
	background-color: #5957f9;
	padding: 12px;
	border-radius: 10px;
}
.round-div{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.dollar{
	font-size: 16px !important;
	color: #5957f9 !important;
	font-weight: bold !important;
}


.current-balance{
	font-size: 15px;
	color: #272727;
	font-weight: bold;
}
.amount{
	color: #5957f9;
	font-size: 16px;
	font-weight: bold;
}
.dollar-sign{
	font-size: 16px;
	color: #272727;
	font-weight: bold;
}

.recent-border{
	border-left: 2px solid #5957f9;
	display: flex;
	align-items: center;

}
.recent-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
	font-size: 16px;
	font-weight: 700;
	color: #5957f9;
	margin-left: 2px;
}

.wishlist{
	font-size: 16px;
	font-weight: 700;
	color: #272727;

}
.wishlist-border:hover{
	border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}
.fashion-studio-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}
a{
    text-decoration: none;
}
</style>


<div class="container d-flex justify-content-center mt-5">

	<div class="card">
		
		<div class="top-container">
			
			
			<div class="ml-3">
				<h5 class="name">{{user.username}}</h5>
				<p class="mail">{{user.email}}</p>
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#centralModalDanger">{% trans 'Chiqish' %} <i class="fa-solid fa-right-from-bracket"></i>
                 </button>
			</div>
		</div>


		<div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
				<div class="dollar-div px-3">
					
					<div class="round-div"><i class="fa fa-dollar dollar"></i></div>

				</div>
				<a href=""><div class="d-flex flex-column text-right mr-2">
					<span class="current-balance">{% trans 'Hozirgi balans' %}</span>
					<span class="amount"><span class="dollar-sign"><i class="fa-solid fa-dollar-sign"></i> </span>{{usd_summ}}</span>
					<span class="amount"><span class="dollar-sign"><i class="fa-solid fa-ruble-sign"></i> </span>{{rub_summ}}</span>
					<span class="amount"><span class="dollar-sign"><i class="fa-solid fa-money-bill"></i> </span>{{uzs_summ}}</span>
				</div></a>

		</div>

        {% for wallet in wallets %}
		<div class="recent-border mt-4">
			<span class="recent-orders">{{wallet.title}}: {{wallet.amount}} {{wallet.currency}}</span>
		</div>
        {% endfor %}
		<!-- <div class="wishlist-border pt-2">
			<span class="wishlist">Wishlist</span>
		</div>
		<div class="fashion-studio-border pt-2">
			<span class="fashion-studio">Fashion studio</span>
		</div> -->
		
	</div>
	
</div>

 
  <!-- Central Modal Medium Danger -->
  <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">{% trans 'Hisobdan chiqish' %}</p>
 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
 
        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>{% trans 'Hisobdan chiqishni tasdiqlaysizmi?' %}</p>
          </div>
        </div>
 
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a href="{% url 'logout' %}" type="button" class="btn btn-danger">{% trans 'Chiqish' %} <i class="fa-solid fa-right-from-bracket"></i></a>
          <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">{% trans 'Bekor qilish' %}</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
{% endblock %}