{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if messages %}
  <div class="container mt-4">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="container mt-5">
    <nav class="col text-center mb-5 bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}">
                {% trans 'Bugungi hisobotlar' %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'weekly_expenses' %}">
                {% trans 'Haftalik hisobotlar' %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'monthly_expenses' %}">
                {% trans 'Oylik hisobotlar' %}
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#postModal">

                  {% trans 'Tanlangan kun uchun hisobotlar' %}
                </a>
              </li>
          </ul>
        </div>
    </nav>
      <h2 class="text-center text-muted m-5"><i class="fa-solid fa-calendar-days"></i>{{selected_day}}</h2>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">{% trans 'Tanlangan kun kirimlar' %} <i class="fa-solid fa-arrow-down"></i></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Kategoriya' %}</th>
                        <th>{% trans 'Miqdor' %}</th>
                        <th>{% trans 'Valyuta' %}</th>
                        <th>{% trans 'Vaqt' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if daily_incomes %}
                    {% for income in daily_incomes %}
                    <tr>
                        {% if income.reason.title %}
                        <td>{{ income.reason.title }}</td>
                        {% else %}
                        <td>{% trans 'Yangi hamyon yaratildi' %}</td>
                        {% endif %}
                        <td>{{ income.amount }}</td>
                        <td>{{ income.wallet.currency }}</td>
                        <td>{{ income.created|date:"d-m-Y H:i" }}</td>
                        <td>
                            <button type="button" class="btn btn-danger delete-expense-btn" data-toggle="modal" data-target="#deleteModal" 
                            data-expense-id="{{ income.id }}"
                            data-suffix="income"
                            data-url="daily_expenses">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            <h4 class="text-center text-muted">{% trans 'ma`lumot mavjud emas' %}</h4>
                        </td>
                    </tr>                    
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h2 class="mb-4">{% trans 'Tanlangan kun chiqimlar' %} <i class="fa-solid fa-arrow-up"></i></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Kategoriya' %}</th>
                        <th>{% trans 'Miqdor' %}</th>
                        <th>{% trans 'Valyuta' %}</th>
                        <th>{% trans 'Vaqt' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if daily_expenses %}
                    {% for expense in daily_expenses %}
                    <tr>
                        {% if expense.reason.title %}
                        <td>{{ expense.reason.title }}</td>
                        {% else %}
                        <td>{% trans 'Yangi hamyon yaratildi' %}</td>
                        {% endif %}
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.wallet.currency }}</td>
                        <td>{{ expense.created|date:"d-m-Y H:i" }}</td>
                        <td>
                            <button type="button" class="btn btn-danger delete-expense-btn" data-toggle="modal" data-target="#deleteModal" 
                            data-expense-id="{{ expense.id }}" 
                            data-suffix="expense"
                            data-url="daily_expenses">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            <h4 class="text-center text-muted">{% trans 'ma`lumot mavjud emas' %}</h4>
                        </td>
                    </tr>  
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{% trans 'O\'chirishni tasdiqlash' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans 'O`chirishni xoxlaysizmi?' %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Bekor qilish' %}</button>
                <a id="deleteExpenseLink" class="btn btn-danger" href="">
                    <i class="fas fa-trash"></i> {% trans 'O\'chirish' %}
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to update the delete link when the modal is shown
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var suffix = button.data('suffix');
        var expenseId = button.data('expense-id');
        var url = button.data('url');
        var deleteLink = '/delete/' + suffix + '/' + expenseId + '/' + url + '/';  // Replace with your actual delete URL
        $('#deleteExpenseLink').attr('href', deleteLink);
    });
</script>

{% endblock %}